<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carpick.domain.car.mapper.CarMapper" >
    <!--resultMap은 현제 컬럼명이 같아서 쓸필요 없음-->
    <!--    차량상세조회 컬렴 묶음-->
    <sql id="carColumns">
        vi.vehicle_id       AS vehicleId,
    cs.brand            AS brand,
    cs.model_name       AS modelName,
    cs.car_class        AS carClass,
    cs.fuel_type        AS fuelType,
    cs.seating_capacity AS seatingCapacity,
--     cs.main_image_url   AS mainImageUrl,
    p.standard_price    AS standardPrice,
    b.branch_name       AS branchName,
    vi.status           AS status,



    </sql>

    <sql id="carDetailExtraColumns">
        cs.trunk_capacity   AS trunkCapacity,
    cs.fuel_efficiency  AS fuelEfficiency,
    vi.model_year       AS modelYear,
    b.address_basic     AS addressBasic

    </sql>


    <!--차량 상세 조회-->
    <select id="selectCarDetail" parameterType="long" resultType="com.carpick.domain.car.dto.CarDetailDto">
        select
        <include refid="carColumns"/>
        <include refid="carDetailExtraColumns"/>
        from VEHICLE_INVENTORY vi
        join CAR_SPEC cs
        on vi.car_spec_id = cs.spec_id
        join PRICE p
        ON vi.price_id = p.price_id
        join BRANCH b
        ON vi.branch_id = b.branch_id
        where vi.vehicle_id = #{vehicleId}



    </select>


    <select id="selectCarList" resultType="com.carpick.domain.car.dto.CarListDto">
        select
        <include refid="carColumns"/>
        FROM VEHICLE_INVENTORY vi
        JOIN CAR_SPEC cs ON vi.car_spec_id = cs.spec_id
        JOIN PRICE p ON vi.price_id = p.price_id
        JOIN BRANCH b ON vi.branch_id = b.branch_id
        WHERE vi.status = 'AVAILABLE'


    </select>

</mapper>