<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carpick.domain.car.mapper.CarMapper" >
    <!--resultMap은 현제 컬럼명이 같아서 쓸필요 없음-->
    <!--    차량상세조회 컬렴 묶음-->
<!--    <sql id="carColumns">-->
<!--        vi.vehicle_id       AS vehicleId,-->
<!--    cs.brand            AS brand,-->
<!--    cs.model_name       AS modelName,-->
<!--    cs.car_class        AS carClass,-->
<!--    cs.fuel_type        AS fuelType,-->
<!--    cs.seating_capacity AS seatingCapacity,-->
<!--&#45;&#45;     cs.main_image_url   AS mainImageUrl,-->
<!--    p.standard_price    AS standardPrice,-->
<!--    b.branch_name       AS branchName,-->
<!--    vi.status           AS status-->



<!--    </sql>-->

<!--    <sql id="carDetailExtraColumns">-->
<!--        cs.trunk_capacity   AS trunkCapacity,-->
<!--    cs.fuel_efficiency  AS fuelEfficiency,-->
<!--    vi.model_year       AS modelYear,-->
<!--    b.address_basic     AS addressBasic-->

<!--    </sql>-->

    <!-- 차량 상세 정보 조회 -->
    <select id="selectCarDetail" parameterType="Long" resultType="com.carpick.domain.car.dto.raw.CarDetailRawDto">
SELECT
/* CAR_SPEC */
    cs.spec_id           AS specId,
    cs.model_name        AS modelName,
    cs.display_name_short AS displayNameShort,
    cs.car_class         AS carClass,
    cs.fuel_type         AS fuelType,
    cs.seating_capacity  AS seatingCapacity,
    cs.model_year_base   AS modelYearBase,
    cs.main_image_url    AS mainImageUrl,
    cs.min_driver_age    AS minDriverAge,
    cs.min_license_years AS minLicenseYears,
    cs.fuel_efficiency   AS fuelEfficiency,

    /* VEHICLE_INVENTORY */
    vi.vehicle_id        AS vehicleId,

    /* BRANCH */
    b.branch_id          AS branchId,
    b.branch_name        AS branchName,
    b.address_basic      AS addressBasic,
    b.latitude           AS latitude,
    b.longitude          AS longitude,
    b.open_time          AS openTime,     /* 추가 */
    b.close_time         AS closeTime,    /* 추가 */

    /* PRICE */
    p.daily_price        AS dailyPrice,

    /* PRICE_POLICY */
    pp.discount_rate     AS discountRate
From VEHICLE_INVENTORY vi
         INNER JOIN CAR_SPEC cs ON vi.spec_id = cs.spec_id
         INNER JOIN BRANCH b ON vi.branch_id = b.branch_id
         LEFT JOIN PRICE p ON cs.spec_id = p.car_spec_id
         LEFT JOIN PRICE_POLICY pp ON cs.spec_id = pp.spec_id
    AND (pp.branch_id = vi.branch_id OR pp.branch_id IS NULL)
    AND pp.is_active = TRUE
WHERE vi.vehicle_id = #{vehicleId}
  AND vi.is_active = TRUE
ORDER BY (pp.branch_id IS NULL) ASC, pp.valid_from DESC
    LIMIT 1




    </select>


</mapper>