<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carpick.domain.inquiry.mapper.InquiryMapper">

<!-- 사용자 문의내역 저장 -->
<insert id="insertInquiry"
useGeneratedKeys="true"
keyProperty="id">
	INSERT INTO inquiry(
		user_id,
		category,
		title,
		content,
		status
	) VALUES (
		#{userId},
		#{category},
		#{title},
		#{content},
		'PENDING'
	)
</insert>

<!-- 사용자 마이페이지 문의내역 -->

<select id="findByUserId"
	resultType="com.carpick.domain.inquiry.vo.Inquiry">
	SELECT
		id,
		user_id,
		category,
		title,
		content,
		status,
		admin_reply AS adminReply,
		created_at AS createdAt
	FROM inquiry
	WHERE user_id = #{userId}
	ORDER BY created_at DESC
</select>

<!-- 관리자 문의 목록 -->
<select id="findAdminPage"
    resultType="com.carpick.domain.inquiry.dto.AdminInquiryListResponse">
    SELECT
        i.id,
        u.email AS userEmail,
        i.category,
        i.title,
        i.status,
        i.created_at AS createdAt
    FROM inquiry i
    JOIN users u ON i.user_id = u.user_id
    <where>
        <if test="search != null and search != ''">
            (
                i.title LIKE CONCAT('%', #{search}, '%')
                OR u.email LIKE CONCAT('%', #{search}, '%')
            )
        </if>
         <if test="status != null and status != ''">
            AND i.status = #{status}
        </if>

        <if test="category != null and category != ''">
            AND i.category = #{category}
        </if>
    </where>
    ORDER BY i.created_at DESC
    LIMIT #{limit} OFFSET #{offset}
</select>

<select id="countAdminInquiries" resultType="int">
    SELECT COUNT(*)
    FROM inquiry i
    JOIN users u ON i.user_id = u.user_id
    <where>
        <if test="search != null and search != ''">
            (
                i.title LIKE CONCAT('%', #{search}, '%')
                OR u.email LIKE CONCAT('%', #{search}, '%')
            )
        </if>
         <if test="status != null and status != ''">
            AND i.status = #{status}
        </if>

        <if test="category != null and category != ''">
            AND i.category = #{category}
        </if>
    </where>
</select>

<!-- 관리자 문의 상세 -->
<select id="findDetailForAdmin"
    resultType="com.carpick.domain.inquiry.dto.AdminInquiryDetailResponse">
		SELECT
		i.id,
		u.email AS userEmail,
		i.category,
		i.title,
		i.content,
		i.status,
		i.admin_reply AS adminReply,
		i.created_at AS createdAt,
		i.updated_at AS updatedAt
		FROM inquiry i
		JOIN users u ON i.user_id = u.user_id
		WHERE i.id = #{id}
</select>

<!-- 답변 등록 / 수정 -->
<update id="updateAnswer">
    UPDATE inquiry
    SET
        admin_reply = #{adminReply},
        status = #{status},
        updated_at = NOW()
    WHERE id = #{id}
</update>

<!-- 문의 삭제-->
<delete id="deleteById">
	DELETE FROM inquiry
	WHERE id = #{id}
</delete>

</mapper>
