@charset "utf-8";

/* 로딩 오버레이 */
.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* 스피너 */
.loadingOverlay .spinner {
  border: 8px solid var(--logo-blue); /* 밝은 회색 */
  border-top: 8px solid var(--logo-yellow); /* 파란색 */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.intro_container{
    background:var(--logo-blue);
    max-width:var(--pc-width);
    margin:auto;
    height:100vh;
    overflow: hidden;
}

.intro_container .title{
    padding:43px 40px 32px; 
}

.intro_container .title h2{
    font-size:28px;
    font-weight:600; 
    color:#fff; 
    margin-bottom:10px; 
}

.intro_container .title h4{
    font-size:16px;
    font-weight:300; 
    line-height:1.3; 
    color:#fff; 
}

.intro_container .title h4 .logo_icon{
    height:16px; 
    position:relative;
    top:-3px; 
    display:inline-block;
}

.intro_container .title .green{
    font-size:14px; 
    color:var(--logo-yellow);
    font-weight:600;
}

.intro_container .checkbox_container{
    height:50vh;
    min-height:220px;
    overflow: auto;
    width:99%; 
}

.intro_container .checkbox_container::-webkit-scrollbar {
    width: 5px;
    border-radius:10px; 
}
.intro_container .checkbox_container::-webkit-scrollbar-thumb {
    background-color: var(--logo-yellow);
    border-radius: 10px;
}
.intro_container .checkbox_container::-webkit-scrollbar-track {
    background-color: var(--gray-100);
    border-radius: 10px;
}

.intro_container .checkbox_container .checkbox_list{
    padding:0 30px;
    display:flex; 
    flex-wrap:wrap; 
}

.intro_container .checkbox_container .checkbox_list li{
    margin-bottom:10px;
    margin-right:10px; 
}

.intro_container .checkbox_container .checkbox_list li input[type="checkbox"] {
    display: none;
}

.checkbox_list input[type="checkbox"] + label {
    background: #fff;
    font-size:14px; 
    color: var(--gray-600);
    border: 1px solid var(--gray-300);
    box-sizing: border-box;
    padding:11px 14px; 
    border-radius:25px; 
    box-sizing: border-box;
    font-weight:600; 
    display:block;
}

.checkbox_list input[type="checkbox"]:checked + label {
    background: linear-gradient(90deg, var(--gray-300), var(--gray-400));
    color: var(--logo-yellow);
    border: 2px solid var(--logo-yellow);
}

.btn_container{
    margin-top:45px; 
    text-align: center;
}

.btn_container .info{
    position:relative; 
    padding:0 22px;
    margin-bottom:18px; 
    text-align: center;
    color: #fff;
    font-size:12px; 
    
}

.btn_container .info .selno{
    margin:0; 
    color: var(--gray-300);
}

.btn_container .info .selno.active{
    text-decoration: underline;
    color: var(--logo-yellow);
}

.btn_container .info .pass{
    position: absolute;
    right:22px;
    top:0; 
    color: var(--logo-yellow);
    text-decoration: underline;
    background:transparent;
    border:0;
    cursor: pointer;
}

.btn_container .nextBtn{
    background:var(--gray-200);
    border:0;
    padding:0;
    width:188px;
    height:54px; 
    border-radius:30px; 
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.btn_container .nextBtn.active{
    background: var(--logo-yellow);
    pointer-events: auto;
}

@media (max-width: 380px) {
    .intro_container .title{
            padding: 43px 30px 10px;
    }
.intro_container .title h2{
        font-size:22px;
    } 
    .intro_container .title h4{
        font-size:14px; 
    }
    .intro_container .title h4 .logo_icon{
        height:14px; 
        top:-1px; 
    }

    .intro_container .checkbox_container .checkbox_list{
        padding:0 20px;
    }

    .intro_container .checkbox_container .checkbox_list li{
        margin-right:7px; 
    }
    .checkbox_list input[type="checkbox"] + label{
        padding: 8px 10px;
    }
    .btn_container{
        margin-top:30px; 
    }
}
@media (max-height: 830px) {
    .intro_container .checkbox_container{
        height:40vh; 
    }
}
@media (max-height: 612px) {
    .intro_container .checkbox_container{
        height:30vh; 
    }
}