@charset "utf-8";

.agree-row{width:100%; padding:30px 15px; margin:67px auto 0; }
.agree-row h2{font-size:20px; font-weight:800; margin-bottom:10px; }
.agree-row p{font-size:16px; line-height:1.6; margin-bottom:15px; white-space: pre-wrap; word-break: keep-all;}
.agree-row button{margin-top:40px; height:40px; background:var(--menu-bg); border-radius:10px; color:#fff; width:100%; font-size:14px; font-weight:500; }
.agree-row button:hover{color:#fff; }

.event-row{width:100%; padding:0; margin:67px auto; }
.event-row .title{padding:20px 15px; height: 67px; border-bottom:1px solid var(--gray-300); display: flex; justify-content: space-between; align-items: center;}
.event-row .title h2{font-size:20px; font-weight:600; }

.eventWrap{width:100%; margin:auto; }
.endEvent{display: flex;justify-content: flex-end;align-items: center; }
.endEvent .text{cursor:pointer; display:inline-block; margin-right:10px;  }

.event-view-top.title{padding:0 15px; }
.event-view-top .btn-list{background:var(--gray-200); padding: 0 10px; height:40px; border-radius:4px; display:flex; align-items: center; justify-content: center; width:100px; color:#007bff; margin: 0;}
.event-view-top .btn-list:hover{color:#fff}

.eventList{width:90%; margin:auto; }
.eventList .txtbox h3{font-size:20px }

.eventInfo h3{font-size:20px; }


#carFilter .filter-label {
  border: 1px solid #e0f2fe;
  background-color: #eff6ff;
  border-radius: 9999px;
  padding: 8px 24px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  color: #1f2937;
  transition: all 0.2s ease;
}

#carFilter .filter-label:has(input:checked) {
  background-color: #2563eb; /* blue-600 */
  color: #ffffff;
  border-color: #2563eb;
}

#carFilter .filter-checkbox {
  display: none;
}


#carFilter .range-wrap {
}

#carFilter .range-track {
  position: relative;
  height: 6px;
  inset: 0;
  background: var(--gray-200);
  border-radius: 9999px;
}

#carFilter .range-progress {
  position: absolute;
  height: 6px;
  background: #2563eb;
  border-radius: 9999px;
  z-index: 1;
}

#carFilter input[type="range"] {
  position: absolute;
  inset: 0;
  pointer-events: none;
  appearance: none;
  background: none;
  z-index: 2;
}

#carFilter input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #2563eb;
  border-radius: 50%;
  cursor: pointer;
}



@media (max-width: 500px) {
    #car-list.px-6 { padding-inline: calc(var(--spacing) * 3); padding-bottom: calc(var(--spacing) * 4);}
    .rentM{padding:0; }
    .rentMBg{background:#fff; border-radius:50px; }
    #pickDay{text-overflow: ellipsis; white-space: nowrap; width: 80%; overflow: hidden; }
    #pickTime{display:none; }
}