.notice-wrapper,
.notice-detail-wrapper {
  width: 640px;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}

@media (max-width: 640px) {
  .notice-wrapper,
  .notice-detail-wrapper {
    width: 100%;
    padding: 14px;
  }
}
