springdoc:
  swagger-ui:
    enabled: true

spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:mariadb://localhost:3306/carpick
    username: root
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  server:
    port: 8080

mybatis:
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: com.carpick.domain.**.entity
