spring:
  application:
    name: carpick
  datasource:
    url: jdbc:mariadb://localhost:3306/carpick
    username: root
    password: 9785
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

server:
  port: 8080